[Unit]
Description=Sonos Control
After=network-online.target multi-user.target

[Service]
Type=simple
ExecStart=/home/konstantin/sonos-pi/init.py
Restart=on-failure
RestartSec=3
User=konstantin
Group=konstantin

[Install]
WantedBy=multi-user.target