[Unit]
Description=Sonos Control
After=network-online.target multi-user.target

[Service]
Type=simple
ExecStart=/home/konstantin/sonos-pi/init.py
Restart=on-failure
RestartSec=3
User=konstantin
Group=konstantin
# Otherwise you will not see any log messages until the buffer is flushed.
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target