[Unit]
Description=Sonos Control
After=network-online.target multi-user.target

[Service]
Type=simple
# Set correct workdir otherwise "/" used.
# Using absolute path fixes permission denied problem when running in systemd.
WorkingDirectory=/home/konstantin/sonos-pi/
ExecStart=/home/konstantin/sonos-pi/init.py
Restart=on-failure
RestartSec=3
StandardOutput=append:/home/konstantin/sonos-pi/sonosd.log
StandardError=append:/home/konstantin/sonos-pi/sonosd.error
User=konstantin
Group=konstantin

[Install]
WantedBy=multi-user.target